server {
        listen 80;
        server_name _;
        return 301 https://$host$request_uri;
}




server{
        listen 443 ssl;
        server_name myDomain.cloud;
        ssl_certificate     /etc/ssl/certs/myDomain_public.crt;
        ssl_certificate_key /etc/ssl/certs/myDomain.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;

        root /var/www/html;

        index index.html index.htm index.nginx-debian.html;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }
}
